<%content_for :destaque do%>
	<img src="/images/destaque_interna.jpg" width="960" height="309" alt="Eu acredito, você acredita?" />
<%end%>
<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/clientes.png" /><br /><br /></span>        
         	<div>
			<p>    
			Em construção.
			</p>            

            </div>         
        </div>