<div id="Interna">
        <span id="" class="Titulo"><img src="images/titulos_internas/contato.png" /><br /><br /></span>        
         	<div>
            <p style="width:300px; float:left;">    
            <img src="images/fachada.jpg" width="300" /><br />
            <br />
            Rua Alvarenga, 1700 - Jardim Butantã<br />
            São Paulo - SP - Brasil<br />
            CEP: 05509-004<br />
            <br />
            Tel: +55 11 2389 6522<br />
            <br />
            
            <iframe width="225" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;q=R.+Alvarenga,+1700+-+Butant%C3%A3,+S%C3%A3o+Paulo,+05509-003&amp;sll=-14.179186,-50.449219&amp;sspn=76.910131,158.027344&amp;ie=UTF8&amp;cd=1&amp;geocode=FbZqmP4d_Ds3_Q&amp;split=0&amp;hq=&amp;hnear=R.+Alvarenga,+1700+-+Butant%C3%A3,+S%C3%A3o+Paulo,+05509-003&amp;z=14&amp;ll=-23.565642,-46.711812&amp;output=embed"></iframe><br /><small><a target="_blank" href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;q=R.+Alvarenga,+1700+-+Butant%C3%A3,+S%C3%A3o+Paulo,+05509-003&amp;sll=-14.179186,-50.449219&amp;sspn=76.910131,158.027344&amp;ie=UTF8&amp;cd=1&amp;geocode=FbZqmP4d_Ds3_Q&amp;split=0&amp;hq=&amp;hnear=R.+Alvarenga,+1700+-+Butant%C3%A3,+S%C3%A3o+Paulo,+05509-003&amp;z=14&amp;ll=-23.565642,-46.711812" style="text-align:left">Exibir mapa ampliado</a></small>
            
            <br /><br />
            <!-- ACESSORIA -->
           
            </p>
            
            <p style="float:right;">
            <strong>Dúvidas?</strong><br />
            <a href="mailto:acreditando@acreditando.com.br" target="">acreditando@acreditando.com.br</a><br />
            <br />
            <strong>Envie seu currículo</strong><br />
            <a href="mailto:rh@acreditando.com.br" target="">rh@acreditando.com.br</a><br />
            <br />
            <strong>Envio de formulário de inscrição</strong><br />
            <a href="mailto:inscricao@acreditando.com.br" target="">inscricao@acreditando.com.br</a><br />
            <br />
            <strong>Agende uma visita</strong><br />
            <a href="mailto:glaucia@acreditando.com.br" target="">glaucia@acreditando.com.br</a><br />
            <br />
             Assessoria de Imprensa<br />
            <strong style="color:red;">SATO7</strong> – Comunicação Estratégica<br />
            Fernanda Vaskevicius<br />
            11-2427-8879<br />
            <a href="mailto:fernanda@sato7.com.br" target="">fernanda@sato7.com.br</a><br />
            </p>            

            </div>         
        </div>