<%content_for :destaque do%>
	<img src="/images/destaque_interna.jpg" width="960" height="309" alt="Eu acredito, você acredita?" />
<%end%>

<div id="Interna">
        <span id="" class="Titulo"><img src="images/titulos_internas/ong.png" /><br /><br /></span>        
         	<div>
<p>    
<img src="images/ong_novo_andar.jpg" hspace="10" align="left" width="244" />Está sendo fundada a ONG Novo Andar, que terá como objetivo patrocinar e viabilizar a reabilitaçãoo de pessoas de baixa renda no Centro de Recuperação de Lesão Medular Acreditando, que tenham sofrido uma lesão medular de qualquer natureza.<br />
<br />
A ONG Novo Andar atuará e forma a arrecadar fundos e promover eventos que se destinam a financiar o tratamento. Também promoverá palestras de esclarecimentos sobre o tratamento de lesão medular, dando apoio psicológico aos pacientes lesionados e familiares.<br />
<br />
A Novo Andar fará parceria com as comunidades, universidades, institutos de pesquisa e instituições públicas e privadas.<br />
<br />
Para maiores informações: <a href="mailto:juliana@acreditando.com.br" target="">juliana@acreditando.com.br</a><br />
</p>            

            </div>         
        </div>