<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/projectwalk.png" /><br /><br /></span>        
         	<div>
<p>    
<img src="images/cadeiralev.jpg" align="left" width="300" hspace="10" />Project Walk é o mais experiente centro de recuperação de lesão medular do mundo. "Utilizando o Exercício para Mover a Ciência" é, além do slogan do Project, o propósito e o motivo pelo qual foi criado.<br />
<br />
O centro prepara profissionais da saúde, colabora e publica pesquisas com médicos, cientistas e pesquisadores em todo o mundo, além de receber pacientes com histórico de lesão medular.<br />
<br />
Os especialistas treinam pacientes com um método inovador para que eles desenvolvam as habilidades necessárias para caminhar novamente e/ou ter os movimentos perdidos de volta.<br />
<br />
Para conhecer mais sobre o Project Walk entre: www.projectwalk.org<br />
<br />
<br />
<a href="javascript:history.go(-1);" style="color:#A5CCD2 !important;">> Voltar</a>
</p>            

            </div>         
        </div>