<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/tecnicas.png" /><br /><br /></span>        
         	<div>
<p>  
Nosso compromisso com a recuperação medular é baseado em um programa onde o exercício se torna o elemento-chave. Há estudos científicos comprovando a eficácia do método Dardzinski, auxiliado com a experiência e os conhecimentos adquiridos nas áreas de fisioterapia neurológica e personal training.<br />
<br />
Cada exercício estimula diferentes partes do corpo com o foco em buscar movimentos funcionais.<br />
<br />
Uma parte da sessão é realizada utilizando-se um colchão ou um tablado, com o auxílio de acessórios (pesos, faixas, bolas medicinais, etc).<br />
<br />
• Terapia Manual: diferentes variações para estimular o sistema nervoso, a fim de enviar sinais destinados a ativar o sistema nervoso central.<br />
<br />
• Desenvolvimento Motor: baseada na idéia de reaprendizagem do Sistema Nervoso Central durante os primeiros estágios do desenvolvimento humano.<br />
 <br />
• Trabalho muscular: as musculaturas lesionadas (superior e/ou inferior) são trabalhadas com estímulos externos em diferentes posições, onde obrigam o paciente a utilizar diferentes partes de seu corpo ao mesmo tempo, buscando assim movimentos mais abrangente e funcional.<br />
<br />
• Auto-Estabilização: Coordenação e controle de equilíbrio: é essencial para ter uma boa postura a estabilização escapular pélvica, seja em pé ou sentado em uma cadeira de rodas. Usamos materiais e exercícios que criam instabilidade a fim de estimular reações de equilíbrio criando um trabalho de estabilização.<br />
• Exercícios com um peso do próprio corpo a fim de evitar complicações (osteoporose, retrações musculares, etc) e também para estimular o sistema neuromuscular.<br />
<br />
• Utilização de equipamentos de ginástica projetado e adaptado aos nossos pacientes, com o objetivo de alcançar o máximo de desempenho possível.<br />
• Plataforma vibratória: Usado por cientistas russos para manter e evitar a perda de massa muscular e a densidade óssea em astronautas durante missões espaciais, e introduzidas no mundo olímpico para formação de atletas de elite em 1998. É a única máquina do tipo que trabalha em três planos. Seu efeito de vibração ajuda a aumentar a sensação de alongamento, contração muscuclar e também aumenta auxilia na redução neuromuscular, ajundando inclusive no equilibrio. O paciente pode ter aumento e ganho de sensibilidade.  O uso da nossa plataforma aumenta a consciência de estabilização e ajuda a estimular o fluxo sanguíneo nos membros inferiores.<br />
<br />
• Total Gym/Leg-Press adaptado: é recomendada pela American Physical Therapy Association como uma das melhores opções em matéria de reabilitação, e ganhou vários prêmios no mundo do fitness. A máquina usa a força da gravidade e as mudanças de distribuição do peso, uma excelente maneira de estimular o sistema neuromuscular. É uma máquina versátil, que permite de modo seguro e eficiente o tratamento dos pacientes, movendo-se em diferentes ângulos e também em diferentes posições.<br />
• Bicicleta com eletroestimulação funcional (FES Bike): <br />
Com o uso de correntes elétricas de baixo nível ajuda o corpo a restaurar e/ou melhorar suas funções. Os impulsos elétricos fazem a contração do músculo. No caso a bicicleta FES é utilizada para estimular o movimento padrão das pernas (ciclismo). Além de ter outros beneficios:<br />
    * Relaxar espasmos musculares<br />
    * Prevenir ou reduzir a atrofia muscular por desuso<br />
    * Aumento da circulação sanguínea<br />
    * Manter ou aumentar a gama de movimento<br />
    *Aumento e ganho de sensibilidade<br />
    *Ganho e foratlecimento muscular<br />
<br />
O Acreditando possui o modelo RT300 (única no Brasil) que são equipadas com pedais para a estimulação inferior do corpo. A RT300 é usada na própria cadeira de rodas - não há necessidade de transferência. Basta colocar seus pés nos pedais. Os eletrodos são colocados nos grupos musculares da perna, e são conectados por um conjunto de cabos. Um computador controla os padrões de estimulação que serão enviados para as pernas, produzindo um suave movimento de pedalar.<br />
<br />
Para mais informações visite: www.restorative-therapies.com <br />
<br />
<br />
<a href="javascript:history.go(-1);" style="color:#A5CCD2 !important;">> Voltar</a>
</p>            

            </div>         
        </div>