<%content_for :destaque do%>
	<img src="/images/destaque_interna.jpg" width="960" height="309" alt="Eu acredito, você acredita?" />
<%end%>

<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/metodo.png" /><br /><br /></span>        
         	<div>
<p>   
O método foi criado em 1999 por Ted Dardzinski. Na época, formado em educação física, trabalhava com distúrbios posturais da coluna, quando recebeu o primeiro cliente lesionado medular, Mike T (nível C7) em sua cadeira de rodas com cinto torácico para suporta-lo na posição. Ao iniciar o trabalho com este cliente, observou sinais do sistema nervoso central abaixo do nível da lesão medular (espasmos, clônus, hiperrreflexia e espasticidade) e questionou se essas respostas do SNC em disfunção não poderiam ser trabalhadas com o objetivo de reorganizar o sistema. Dessa forma, iniciou um trabalho com atividades baseadas no desenvolvimento humano para estimular, reorganizar e reativar o SNC em disfunção. Após 1 ano da data do acidente e tratamento intensivo, o paciente pôde caminhar sem suporte externo.  Após essa conquista, outros clientes com lesão medular começaram a procurar o trabalho de Ted, o que o incentivou a direcionar seu tempo e dedicação a esse novo método.<br />
<br />
O método é  baseado num programa de atividades físicas que trabalha o sistema nervoso central (SNC) em disfunção. Essas atividades combinam práticas de recrutamento do SNC, exercícios de ativação muscular (extremidades e core), balance e coordenação dos movimentos com intensidade e repetição direcionadas e apropriadas, para a recuperação e reeducação do sistema nervoso central lesionado.    <br />
<br />
Antes do início do tratamento, cada paciente é avaliado pela equipe de profissionais de acordo com o tipo de lesão, suas características e evoluções. Assim, o AcreditANDO estabelecerá um plano de tratamento personalizado para cada paciente, com base em suas necessidades e possibilidades. O plano de tratamento consiste em um período de iniciação, com a finalidade de familiarizar-se e adaptar-se ao método de tratamento.<br />
<br />
<strong>O método de recuperação consiste em cinco fases:</strong><br />
<br />
<strong>Programa de Tratamento</strong><br />
<br />
Antes do início do tratamento, cada paciente é avaliado pela equipe de fisioterapeutas de acordo com o tipo de lesão, suas características e evoluções. Assim, o AcreditANDO estabelecerá um plano de tratamento personalizado para cada paciente, com base em suas necessidades e possibilidades. O plano de tratamento consiste em um período de iniciação, com a finalidade de familiarizar-se e adaptar-se ao método de tratamento.<br />
<br />
O método de recuperação consiste em cinco fases:<br />
<br />
<img src="images/phaseI.jpg" hspace="5" align="left" /><strong>Fase I (Reativação) e Fase II (Desenvolvimento e Estabilidade)</strong><br />
<br />
Estas primeiras fases são indicadas para pacientes pós-lesão. O programa teve início com a crença de que um sistema nervoso traumatizado por uma lesão medular pode se reorganizar quando estimulado corretamente. O programa baseia-se na teoria de que sem a estimulação externa, o sistema nervoso humano pode se deteriorar após a lesão. O objetivo é reativar o sistema nervoso com o objetivo de desenvolvê-lo para um sistema mais funcional, a fim de recuperar funções perdidas.<br />
<br />
<img src="images/phaseIII.jpg" align="right" hspace="5" /><strong>Fase III (Força)</strong><br />
<br />
A meta da Fase III é iniciar, por meio de contrações musculares, os movimentos e estímulos. É o momento em que o sistema nervoso tenta se reconectar, e caso não seja estimulado resulta em espasmos. Os profissionais do programa podem ajudar a treinar os espasmos para que estes se tornem movimentos controláveis.<br />
<br />
Os profissionais estão aptos a criar um movimento desejável por meio da manipulação do corpo e aplicando resistência por contrações fortes. Para diminuir os espasmos não são utilizados medicamentos, pois acredita-se que estes tratam os sintomas, porém não estimulam o movimento e a coordenação a longo prazo.<br />
<br />
Quando um músculo é contraído muitas vezes com a estimulação correta, os nervos e músculos ganham força e, o mais importante, ganham coordenação. Os pacientes do programa começam com séries de exercícios simples nas primeiras fases do tratamento, até que os profissionais os ensinam como controlar totalmente os movimentos. Na fase III, o paciente estará apto a controlar seus próprios movimentos.<br />
<br />
<img src="images/phaseIV.jpg" align="left" hspace="5" /> <strong>Fase IV (Função e Coordenação)</strong><br />
<br />
Esta é uma fase de transição, pois o paciente está dividido em dois mundos: ele tem a habilidade de se mover e controlar os membros, mas não tem a força e a coordenação para andar sem ajuda de algo/alguém.<br />
<br />
A evolução da fase III para a IV pode ser longa, árdua e até frustrante. Nem todos conseguem fazer essa transição. A fase IV, como todo o processo de recuperação, não acontece isoladamente, ou seja, elas são interdependentes.<br />
<br />
Os pacientes normalmente começam a ter movimentos de alguns membros, mas não completamente. Por exemplo: alguns podem ter uma perna que tem mais movimentos funcionais do que a outra, mesmo que elas sejam móveis, ainda estão aprendendo a usar o seu sistema nervoso. A partir da reorganização do sistema nervoso, as funções lentamente vão voltando para o corpo, por isso deve-se estar atento à postura.<br />
<br />
Todos os dias, no Programa, o corpo é treinado com o objetivo de prevenir uma disfunção postural, pois é importante tratar a postura antes de voltar a caminhar, caso contrário o tratamento não terá a evolução esperada. Acredita-se que, com o estímulo correto e profissionais preparados, o paciente que pode mover as pernas está praticamente apto a andar novamente.<br />
<br />
<img src="images/phaseV.jpg" hspace="5" align="right" /><strong>Fase V – (Formação)</strong><br />
<br />
O objetivo da fase V é fornecer um treinamento funcional de postura aos que estão aptos a andar com ou sem a ajuda externa.<br />
<br />
Nesta fase, é necessário treinar cada paciente com as ferramentas disponíveis para que estes desenvolvam as habilidades necessárias para caminhar novamente.<br />
<br />
Para o Acreditando, o progresso somente é alcançado quando o cliente está satisfeito com os seus resultados.<br />
<br />
<br />
<a href="javascript:history.go(-1);" style="color:#A5CCD2 !important;">> Voltar</a>
</p>    

            </div>         
        </div>