<%content_for :destaque do%>
	<img src="/images/destaque_interna.jpg" width="960" height="309" alt="Eu acredito, você acredita?" />
<%end%>

<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/oprograma.png" /><br /><br /></span>        
         	<div>
			<p>    
			<a href="/oprograma/project_walk" target="" style="color:#A5CCD2 !important;">> Project Walk</a><br />
			<a href="/oprograma/metodo_dardzinski" target="" style="color:#A5CCD2 !important;"> > Método Dardzinski e suas fases</a><br />
			<a href="/oprograma/a_teoria_por_tras" target="" style="color:#A5CCD2 !important;">> A teoria por trás do Método Dardzinski</a><br />
			<a href="/oprograma/descricao_das_tecnicas" target="" style="color:#A5CCD2 !important;"> > Descrição das Técnicas</a><br />
			<a href="/oprograma/dez_coisas_importantes" target="" style="color:#A5CCD2 !important;">> Dez coisas importantes que você deve saber</a><br />
			<br />
			<a href="files/Estudos_e_Artigos_Cientificos _I.pdf" target="_blank" style="color:#A5CCD2 !important;"> > Estudo e Artigo Científico I</a><br />
			<a href="files/Estudos_e_Artigos_Cientificos_II.pdf" target="_blank" style="color:#A5CCD2 !important;"> > Estudo e Artigo Científico II</a><br />
			
			</p>            

            </div>         
        </div>