<div id="Interna">
        <span id="" class="Titulo"><img src="images/titulos_internas/inscricoes.png" /><br /><br /></span>        
         	<div>
            <p>    
<strong>Critérios Basicos para se inscrever em nosso programa de treinamento:</strong><br />
* Lesão medular, em qualquer nível a partir de C-2, mas deve ser capaz de respirar por conta própria;<br />
    * Diagnóstico: completo ou incompleto;<br />
    * Em bom estado de saude;<br />
    * Liberado por um médico para iniciar um programa de exercício físico intenso, que inclui exercícios de carga de peso;<br />
    * Altamente motivado com uma atitude positiva<br />
    * Acredita em ser capaz de recuperar a sua função.<br />
Antes de participar no nosso programa, todos os clientes com mais de seis (6) meses após a lesão devem apresentar uma densidade óssea recente, juntamente com uma interpretação dos resultados resumidos por um médico.<br />
<br />
<br />
<strong>Para se inscrever em nosso programa, basta seguir os passos abaixo.</strong><br />
    * Primeiro passo: Escolher uma carga horária diaria/semanal<br />
    * Segundo passo: Preencha a ficha de inscrição e envie para inscricao@acreditando.com.br <a href="files/ficha_inscricao.doc" target="_blank" style="color:#A5CCD2 !important;"><strong>Clique aqui para fazer o download da ficha de inscrição</strong></a><br />
    * Terceiro Passo: Aguarde o contato do Acreditando<br />
    * Quarto passo: Autorizar-nos a cobrar 200 reais no seu cartão de crédito para a reserva de segurança, que será reembolsada no pagamento do seu primeiro mês<br />
    * Quinto passo: Enviar o exame de densidade óssea completa<br />
<br />
<br />
<strong>Aqui é apenas uma amostra do que nossos programas podem fazer por você!</strong><br />
Benefícios:<br />
    * Aumento da massa muscular<br />
    * Aumento da atividade do sistema nervoso central<br />
    * Aumento da saúde e bem-estar<br />
    * Aumento da sensibilidade, incluindo a quente, frio, dor, tato, etc<br />
    * Aumento da função abaixo do nível da lesão<br />
     * Diminuição da dependência de medicamentos<br />
    * Diminuição da dor neuropática<br />
    *  Manter a densidade óssea.<br />

            </p>            

            </div>         
        </div>