<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/teoria.png" /><br /><br /></span>        
         	<div>
<p>    
Pesquisas sobre a relação entre o exercício e lesão medular estão progredindo rapidamente nos últimos anos. <br />
<br />
Após a lesão medular o corpo sofre um colapso das funções fisiológicas, causada particularmente pela diminuição dos efeitos da gravidade. <br />
<br />
Gravidade provoca uma resistência constante no esqueleto axial provocada por uma descarga de peso durante movimentos como estar em pé, ajoelhar , andar, etc. <br />
<br />
Esta descarga de peso é reduzida significantemente na cadeira de rodas e provoca um inevitável enfraquecimento da estrutura óssea 1 . O colágeno também começa a perder sua função estrutural e as cartilagens se deterioram pela falta de suplemento sanguíneo. 2,3.<br />
<br />
Os primeiros músculos que são afetados pela falta de descarga de peso são os músculos da perna. Estes perdem a força desproporcionalmente mais que outros 4,5.<br />
<br />
Tudo isto pode ser atenuado através da atividade física. Dados da literatura mostram que os músculos de um indivíduo com lesão medular respondem ao aumento de atividades de contração, similar aos de um indivíduo sem lesão6.<br />
<br />
Os exercícios passivos de forma isolada já mostram uma diminuição do impacto fisiológico depois da lesão medular6. <br />
<br />
Exercícios com descarga de peso podem apresentar benefícios ainda maiores.  Estas atividades, nas quais o corpo foi desenhado para fazer como; ficar em pé, abaixar, ajoelhar, andar, elimina ou reduzem as alterações ósseas e articulares citadas acima 3.<br />
<br />
Muitos dos exercícios utilizados no Método Dardzinki são baseados no Modelo de Desenvolvimento Humano e suas etapas. Este é um processo no qual o SNC (Sistema nervoso Central) desenvolve suas funções e estruturas em um ser humano em crescimento.  <br />
<br />
Usando este modelo de desenvolvimento, o método tem como objetivo, através de movimentos repetitivos, o de estimular SNC a se tornar mais funcional.<br />
<br />
O trabalho nas diferentes fases do desenvolvimento humano possibilita estímulos no sentido de reativação e reorganização do SNC, favorecendo o reaprendizado de uma tarefa motora que pode depender de um estímulo repetitivo para ser reestabelecido.<br />
<br />
<br />
	•	Shapiro JR, Beck, Le Blanc Abet al. Patterns of Femoral neck bone loss in spinal cord injury and in spaceflight. Bioastronautics Investigators' Workshop.2003 Jan<br />
	•	Smith SM, Millen JL, Le Blanc A, et al Collagen cross-link excretion during space flight and bed rest. Can Nedcor Meta bolt 1998;83 (10):3584-91<br />
	•	Vanwanseele B,EcksteinF,Knecht H,et al. Longitudinal analysis of cartilage atrophy in the knees of patients with spinal cord injury. Arthritis Rheum. 2003 Dec;48 (12) :3377-81<br />
	•	Fitts RH, Riley DR, Widrick JJ Physiology of a microgravity enviroment. Invited review: Microgravity and skeletal muscle .J Appl Physiol. 2000 Aug;89(2) :823-39<br />
	•	Le Blanc AD,Shneider VS, Evans HJ, et al Regional changes in muscle mass following 17 weeks of bed rest. J Appl  Physiol.1992 Nov;73(5) :2172-8<br />
	•	Dupont-Versteegden EE, Houle JD, Gurley CM, et al. Early changes in muscle fiber size and gene expression in response to spinal cord transaction and exercise. Am J Physiol Cell Physiol. 1998 Oct;275 (4): 1124-33<br />
<br />
<br />
<a href="javascript:history.go(-1);" style="color:#A5CCD2 !important;">> Voltar</a>
</p>            

            </div>         
        </div>