<%content_for :destaque do%>
	<img src="/images/destaque_interna.jpg" width="960" height="309" alt="Eu acredito, você acredita?" />
<%end%>

<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/felipe.png" /><br /><br /></span>        
         	<div>
<p>           
<img src="/images/felipe_fernanda.jpg" hspace="10" align="left" /> Felipe Costa é outra peça-chave nesta história. Como a maioria dos jovens de 20 anos, Felipe sempre gostou de festas e sempre gostou de estar entre seus amigos. O que ele jamais poderia imaginar é que após passar momentos tão bons ao lado de seus amigos, ele veria sua vida mudar a 200 metros de sua casa, em São Paulo.<br />
<br />
Em 8 de junho de 2008 Felipe voltava da festa de aniversário de uma amiga, o jovem capotou o carro aproximadamente quatro vezes a 120km/h. Felipe estava sem o cinto de segurança. Com o acidente, Felipe sofreu compressão na medula e seu diagnóstico foi de paraplegia.<br />
<br />
Os primeiros dias no hospital foram de grande tortura para Felipe e pra seus familiares. O sentimento de injustiça e os questionamentos "Por que eu? Por que comigo?" comuns a qualquer jovem que passe por isso tomaram conta dos pensamentos de Felipe e ele se sentiu completamente perdido.<br />
<br />
Depois de alguns dias internado na UTI (Unidade de Terapia Intensiva), Felipe decidiu dar um novo rumo a seus pensamentos. Ele aceitou que sua situação agora era diferente, mas não se conformou nem concordou com o termo "lesão irreversível". Felipe juntou todas as forças que encontrou e resolveu lutar pelo que acreditava. Ele sempre acreditou que nada é impossível e que carregamos uma força que pode nos levar a qualquer lugar desde que acreditemos.<br />
<br />
Com a ajuda de seus pais, Felipe começou a buscar todas as formas possíveis para reverter sua situação e voltar a andar. Felipe iniciou uma vasta pesquisa sobre tratamentos no Brasil e, após recolher uma grande quantidade de informações, ele decidiu visitar alguns centros.<br />
<br />
Infelizmente Felipe não encontrou o que buscava em nenhum dos centros de reabilitação visitados. Ele percebeu que alguns tinham à disposição aparelhos modernos, mas não sentiu que os profissionais, de fato, acreditavam na recuperação dos pacientes. O que Felipe percebeu que predominava era uma preocupação maior com a inclusão dessas pessoas na sociedade. Os centros não trabalhavam, então, pela recuperação, mas sim para garantir aos pacientes uma qualidade de vida um pouco melhor, mas para Felipe isso era pouco, ele queria mais, então aprofundou suas pesquisas.<br />
<br />
Felipe e seu pai mudaram o foco e decidiram explorar um território muito polêmico, o das células-tronco. Com algumas pesquisas, ambos souberam sobre um médico em Portugal que fazia os implantes de células-tronco. O Pai de Felipe, uma das pessoas que mais acreditou na recuperação do filho, viajou para Portugal para se informar mais e conversar com o médico, que tirou todas suas dúvidas.<br />
<br />
A conclusão da consulta foi que esse não era o método mais indicado, pois, infelizmente, as pesquisas ainda estão fase inicial, praticamente engatinhando e os poucos pacientes que obtiveram alguma melhora não representavam número significativo em comparação aos que não conseguiram nenhuma melhora.<br />
<br />
A visita ao médico foi importante para que eles descobrissem a existência de um centro de reabilitação avançada em Detroit, Michigan – Estados Unidos. Felipe passou três meses nesse centro, se dedicando totalmente ao tratamento. Ele sabia que estava na direção certa, mas ainda não estava no local certo, pois nenhum paciente havia conseguido a recuperação completa ainda.<br />
<br />
Felipe resolveu intensificar suas pesquisas a centros fora do Brasil e foi assim que conheceu o Project Walk, na Califórnia. <br />
<br />
Vendo os vídeos dos pacientes na internet não havia como não se sentir tomado por uma esperança imensa. Parecia até mentira ver que pacientes antes paraplégicos e até mesmo tetraplégicos, passavam a dar os primeiros passos novamente. Felipe sentiu que finalmente havia encontrado o que tanto procurou.<br />
<br />
Felipe pediu demissão de seu emprego e arrumou as malas, seu destino não era apenas a Califórnia, era uma nova vida, ele seguia rumo à esperança de voltar a andar. Em sua bagagem levava expectativas e o imenso desejo de se tratar. <br />
<br />
Ao chegar ao Project Walk Felipe não acreditava no que estava vendo. Era real, pacientes com lesão medular estavam mesmo caminhando. Felipe foi o primeiro brasileiro a se tratar na Project Walk.<br />
<br />
Felipe ficou exatamente um ano na Califórnia e sua evolução fez com que hoje ele seja capaz de ficar em pé, mesmo que ainda sem poder andar. Lá ele pode experimentar sensações e exercícios que jamais teve em nenhum outro lugar, mas o mais importante foi que ele descobriu que o segredo para andar novamente está dentro dele, para voltar a andar basta acreditar.<br />
<br />
<br />
<a href="javascript:history.go(-1);" style="color:#A5CCD2 !important;">> Voltar</a>
</p>            

            </div>         
        </div>