<%content_for :destaque do%>
	<img src="/images/destaque_interna.jpg" width="960" height="309" alt="Eu acredito, você acredita?" />
<%end%>

<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/fernanda.png" /><br /><br /></span>        
         	<div>
<p>           
<img src="/images/felipe_fernanda.jpg" hspace="10" align="left" /> Fernanda Fontenele sempre foi uma garota como a maioria. Alegre, extrovertida, cheia de sonhos e de vida. Mas quando ainda era jovem, um obstáculo foi colocado em seu caminho e era chegada a hora de Fernanda sentir, da forma mais dolorosa e difícil, o que, de fato, significava e significaria para ela a palavra acreditar. <br />
<br />
Em 2003, aos 17 anos, Fernanda sofreu um acidente de carro com seu namorado no qual fraturou a coluna cervical, na altura das vértebras C6-C7, e seu diagnóstico dado pelos médicos foi recebido com o mesmo impacto e intensidade de uma bomba: Fernanda estava tetraplégica. Como é comum a qualquer família que passa por situação semelhante, todos se sentiram perdidos e se questionavam o porquê de uma garota como ela, tão jovem e carinhosa, estar passando por uma provação como aquela. Fernanda não mexia as pernas nem os braços e passou a depender de todos para desempenhar tarefas simples como comer e até mesmo para trocar de posição em sua cama. Começava ali a fase de maior dificuldade na vida da brasiliense Fernanda. <br />
<br />
Após o acidente e o período de aceitação com relação é nova situação de Fernanda, toda a família sentiu era o momento de reverter o jogo e trazer a vantagem para dentro de casa novamente. Foi nessa fase que Fernanda começou a entender o que acreditar realmente viria a significar para ela e para toda a sua família.<br />
<br />
Fernanda estava decidida a não se deixar a abater e, em 2004, iniciou a faculdade de jornalismo. Essa nova fase foi marcada, principalmente, pela falta de tempo para a fisioterapia. Dedicada aos estudos, Fernanda não conseguiu direcionar o tempo que gostaria para a fisioterapia, mas em 2008, com a conclusão do curso, ela percebeu que teria todo o tempo que necessitava e queria para se doar inteiramente ao seu tratamento.<br />
<br />
Uma das atividades que fazia parte de seu tratamento era pesquisar incansavelmente na internet novos estudos, métodos e avanços científicos que representassem a total recuperação de Fernanda. Por mais que para muitas pessoas sua recuperação total parecesse impossível, ela nunca deixou de acreditar e, em 2009, ela conheceu o centro Project Walk, responsável por um tratamento pioneiro. Por meio de vídeos mostrando pacientes que se submetiam o método, Fernanda sentiu que havia encontrado a resposta para seus pedidos. Os vídeos não só mostravam avanços impressionantes, como mostravam pessoas que voltavam a caminhar após realizarem o tratamento.<br />
<br />
Pode-se dizer que as coisas estavam começando a melhorar significativamente para Fernanda não fosse um detalhe que ainda atrasaria os planos da jovem jornalista: o tratamento era realizado em uma clínica em Calrsbad, na Califórnia. <br />
<br />
Começava então uma nova fase no tratamento. Como não podia perder tempo, Fernanda procurou amigos e familiares. Graças aos esforços de todos, a campanha "Anda Fernanda" foi criada e, já na primeira semana, arrecadou 20 mil reais. Com a união das pessoas que sempre lutaram para sua felicidade e até mesmo com a ajuda de pessoas que ela sequer conheceu, em três meses Fernanda conseguiu o valor equivalente a seis meses de tratamento. Ali ela viu que não era a única, pois dezenas de pessoas começavam também a entender o que significa acreditar.<br />
<br />
Uma das pessoas que mais acreditou e continua acreditando é a mãe de Fernanda. Elas estiveram juntas em todos os momentos e, como não poderia ser diferente, a mãe de Fernanda a acompanhou na viagem para a Califórnia e, graças ao dinheiro da venda de alguns bens da família e também de mais algumas economias, elas conseguiram estender o tratamento por mais dois meses, totalizando oito meses de tratamento no Project Walk. <br />
<br />
Só o fato de estar na Califórnia já fazia com que Fernanda se sentisse vitoriosa por conseguir chegar ao local onde ela sabia que seu tratamento daria passos importantíssimos rumo à sua total recuperação. Mas mais importante ainda era ela saber que tudo isso só foi possível com a ajuda da campanha. Ver que tantas pessoas acreditaram nela era o que mais a motivava a seguir em frente. E assim Fernanda se dedicou ao máximo.<br />
<br />
Fernanda já está de volta ao Brasil, cheia de esperança e histórias pra contar. O melhor de tudo ela não traz na mala, traz no coração e em seu olhar. Ela ainda não está cem por cento curada, mas já recuperou totalmente o movimento das mãos e até mesmo alguns movimentos das pernas. Mas, mais uma vez, Fernanda não pretende parar, ela sabe que este é só o começo, o começo de um futuro ainda mais promissor e cheio de conquistas. Ela acreditou. Quantas pessoas mais são capazes de realmente acreditar?<br />
<br />
<br />
<a href="javascript:history.go(-1);" style="color:#A5CCD2 !important;">> Voltar</a>
</p>            

            </div>         
        </div>