<%content_for :destaque do%>
	<img src="/images/destaque_interna.jpg" width="960" height="309" alt="Eu acredito, você acredita?" />
<%end%>

		<div id="Interna">
        <span id="" class="Titulo"><img src="images/titulos_internas/sobrenos.png" /><br /><br /></span>        
         	<div>
			<p>           
			<img src="images/logoproject.gif" width="150" align="left" hspace="10" />O AcreditANDO é a primeira franquia na América Latina do Project Walk (Centro de Refeência Mundial de Fisioterapia Avançada para Lesão Medular).<br />
			<br />
			O AcreditANDO é um centro voltado para a recuperação de lesão medular por meio de intensivos e repetitivos exercícios, seguindo o método desenvolvido pelo  americano Ted Dardzinski. O desenvolvimento deste método estimula o sistema nervoso e tem produzido resultados positivos ao longo dos últimos dez anos, de acordo com a sua aplicação em lesionados medulares no Project Walk localizado na cidade de Calrsbad, próximo a San Diego na Califórnia.<br />
			<br />
			A versão brasileira do Project Walk - AcreditANDO - conta com a total capacitação de profissionais no próprio Project Walk, e também possui toda a estrutura física de equipamentos indicados por eles, para que assim os pacientes tenham a mesma qualidade de tratamento da matriz Project Walk.<br />
			<br />
			O AcreditANDO é uma franquia que obedece às regras da matriz Project Walk, detentora dos royalties, e que exige o cumprimento de rigorosos padrões e das normas adotadas. O projeto brasileiro tem a concessão do uso da marca e da liberação de todo o conteúdo e do método utilizado na empresa Project Walk, tornando-se assim a PRIMEIRA FRANQUIA DA AMÉRIA LATINA DO PROJECT WALK.<br />
			<br />
			
			<a href="/sobrenos/fundadores" target="" style="color:#A5CCD2 !important;">> Fundadores</a><br />
			<a href="/sobrenos/nossa_missao" target="" style="color:#A5CCD2 !important;"> > Nossa Missão</a><br />
			
			</p>            

            </div>         
        </div>