<div id="Interna">
        <span id="" class="Titulo"><img src="images/titulos_internas/faq.png" /><br /><br /></span>        
         	<div>
<p>    
<strong>Quem pode se beneficiar com o nosso Programa?</strong><br />
* Lesão medular, em qualquer nível a partir de C-2, mas deve ser capaz de respirar por conta própria;<br />
* Diagnóstico: completo ou incompleto;<br />
* Em bom estado de saude;<br />
* Liberado por um médico para iniciar um programa de exercício físico intenso, que inclui exercícios de carga de peso;<br />
* Altamente motivado com uma atitude positiva<br />
* Acredita em ser capaz de recuperar a sua função.<br />
* Alguém que tem algum tipo de movimento nas pernas, mas ainda não pode andar;<br />
* Alguém que tem caminhado com dificuldades e quer aprimorar;<br />
* Alguém que acredite muito na própria recuperação, mas não encontra opção nem esperança em tratamentos novos com bases científicas de sua eficêcia.<br />
<br />
<strong>Qual é o programa ideal a ser feito?</strong><br />
Depende das metas do paciente e suas habilidades. Uma primeira avaliação será feita pela nossa equipe, onde será passado um programa de treinamento que indicará o que será trabalhado a fim de que, o paciente ganhe mais independência e movimentos funcionais.<br />
O que recomendamos é um programa de 2 a 3 horas diárias, 3 a 5 vezes na semana. Nós recomendamos que a sessão seja de no mínimo 2 horas diárias, pois na primeira hora é feito um trabalho para ativação do sistema nervoso, e o máximo de 3 horas de tratamento por dia, para não fadigar os músculos. <br />
Um programa de exercícios repetitivos e intensivos garante a eficêcia do tratamento realizado.<br />
Já estive em outros programas e eles não sabem como trabalhar comigo. Os seus treinadores são experientes?<br />
Nossa equipe de profissionais possui não só a capacitação na área como também o diferencial de conhecer o método: Nossos profissionais possuem a mesma certificação dos profissionais da matriz Project Walk, onde eles vão até a matriz Project Walk para terem a certificação Certified SCI Recovery Trainer (CSRT?)", sendo os únicos da América Latina com tal certificação.<br />
Para terem essa certificação, nossa equipe passou por um treinamento intensivo com mais de 240 horas de curso aprendendo todo o embasamento teórico e inclusive prático do Método Dardzinski ministrado pelo fundador Ted Dardzisnki entre outros profissionais da Matriz.<br />
<br />
<strong>Qual o tempo ideal de tratamento?</strong><br />
Cada paciente e cada lesão é única. A determinante começar o tratamento o mais rápido possível, pois se o sistema nervoso não recebe estímulos, a tendência é que o corpo perca cada vez mais a densidade óssea e massa muscular.<br />
Um programa de treinamento bem sucedido funciona quando o cliente possui um objetivo, acompanhado de um programa de exercícios consistente dado por um profissional capacitado em um tempo a longo/médio prazo.<br />
<br />
<strong>O que torna o nosso programa tão diferente?</strong><br />
No Acreditando, nosso programa não é baseado na reabilitação tradicional. Tratamos cada cliente de forma única. Aplicamos um método que consiste em 5 fases, cada fase determina uma sequência de exercícios específicos repetitivos e intensivos para cada caso. O método Dardzinski - que desde 1999 está sendo aplicado - vem tendo resultados positivos ao longo desse tempo. Alguns clientes inclusive voltaram a andar. Nossa filosofia de tratamento à acreditar em nossos pacientes com lesão medular, aliado a determinação e ao método inovador que visa melhorar a funcionalidade da limitação de cada indivíduo.<br />
<br />
<strong>Qual o tempo ideal dos exercícios?</strong><br />
Entendemos que para um resultado eficaz é necessário uma constêcia no tratamento. Nós recomendamos que a sessão seja no mánimo 2 horas diárias, pois na primeira hora é feito um trabalho para ativação do sistema nervoso, e máximo 3 horas de tratamento por dia, para não fadigar a musculatura. Nós iremos trabalhar para desenvolver um programa de longo/médio prazo com base na carga de exercícios necessárias.<br />
<br />
<strong>Qual a rapidez dos resultados?</strong><br />
Isso ninguém sabe e pode determinar. Nós também não sabemos. <br />
Cada caso é um caso, por esse motivo é feito um trabalho específico para cada paciente e suas limitações. <br />
O que garantimos é que nós estaremos fazendo o possível para ativar e reorganizar o seu sitema nervoso, de modo que, aliado ao profissional é preciso que o cliente acredite e mantenha o otimismo quanto à sua recuperação.<br />
Não prometemos um milagre, prometemos acreditar e trabalhar com a capacitação e estrutura que possuímos.<br />
A evoluçãoo é progressiva, mais do que ninguém o paciente irá sentir essas melhoras e o benefício que o método traz.<br />
<br />
<strong>Após 6 meses de tratamento o que geralmente os clientes relatam de ganhos?</strong><br />
* Aumento da massa muscular<br />
* Aumento da atividade do sistema nervoso central<br />
* Aumento da saúde e bem-estar<br />
* Aumento da sensação, incluindo a quente e frio, dor, tato, etc<br />
* Aumento da função abaixo do nível da lesão<br />
* Diminuição da depenpência de medicamentos<br />
* Diminuição de dor neuropática<br />
* Controle de espasticidade<br />
<br />
<br />
<strong>Este é um programa de vida?</strong><br />
Sim, este é um compromisso de vida. Para o Acreditando, nossos esforços só acabam quando o paciente está satisfeito com seus resultados. Esse é o nosso foco e a nossa missão.<br />
<br />
<strong>Foi-me dito que eu não posso melhorar o meu andar.</strong><br />
O método vem sendo estudado e pesquisado em pacientes desde 1987. Quase todas as pessoas treinadas tiveram uma disfunção muscular, onde um dos lados do corpo era mais forte e/ou mais fraco do que o outro, com isso existe um desequilíbrio.<br />
Um exemplo para ilustrar é de um carro que está fora do alinhamento - ao longo do tempo, os pneus desgastaram desigualmente e em vez de substituir os pneus, corrigimos o alinhamento.<br />
Infelizmente, quando se trata dos nossos corpos, quase sempre olhar para os sintomas significa tratá-los. No Acreditando, não concentraremos no fato de que um indivíduo tem uma lesão medular, vamos nos concentrar em metas a serem atingidas; avaliar sua postura e marcha, em seguida, formular um plano para atenuar as dificuldades e limitações e aprimorar suas habilidades. <br />
<br />
<br />
<strong>Eu posso mover as minhas pernas, mas fui informado de que nunca iria melhorar e muito menos voltar a andar.</strong><br />
Cada caso é um caso. Cada pessoa reage de formas diferentes aos método aplicado. Não podemos prometer nada, apenas o melhor método, o melhor programa, o estímulo e profissionais altamente qualificados, que acreditará na sua recuperação junto com você.<br />
A medicação anti-espasmo pode melhorar a marcha?<br />
Espasmos e o tonus muscular não é o problema, pois eles são apenas um sintoma de um sistema nervoso lesionado e confuso. Se você tratar o sintoma, você nunca vai se recuperar. Tratando a causa, o seu sistema nervoso vai lentamente se reorganizar, tornado-se um sistema mais funcional. O trabalho que faremos estimulará o seu sistema nervoso central a se organizar e assim, seus movimentos passarão a ser controláveis.<br />
<br />
<strong>Eu tenho uma perna boa e uma perna ruim. Já tiveram qualquer experiência em trabalhar com pessoas como eu?</strong><br />
Sim. O método tem sido muito bem sucedido no ganho de movimentos para pernas mais fracas. Criando movimentos onde não existia nenhuma melhora e onde a coordenação era confusa. Quase todos os clientes com que já foi trabalhado, tem um lado bom e um lado ruim. Nossos clientes melhoram, pois concentramos mais a nossa atenção nos pontos fracos, e não onde está força. Com foco e eficiência, a marcha, como um todo, acaba melhorando.<br />
<br /></p>            

            </div>         
        </div>