<%content_for :destaque do%>
	<img src="/images/destaque_interna.jpg" width="960" height="309" alt="Eu acredito, você acredita?" />
<%end%>

<div id="Interna">
        <span id="" class="Titulo"><img src="/images/titulos_internas/missao.png" /><br /><br /></span>        
         	<div>
			<p>           
			- Abrir no Brasil um novo horizonte e implantar uma nova cultura, na qual é possível por meio da prática de uma fisioterapia intensiva, direcionada à volta de funções motoras, onde o andar novamente é possível.<br />
			<br />
			- Dar oportunidades aqueles que não possuem condições físicas e/ou financeiras de viajar até a Califórnia, para conhecer o método inovador Dardzinski e a estrutura do Project Walk.<br />
			<br />
			- Dar mais qualidade de vida e esperança da recuperação às pessoas com lesão medular, tornando a vida mais plena, produtiva e independente.<br />
			<br />
			- Mostrar que existe vida além da cadeira de rodas!<br />
			<br />
			- Trazer um novo universo, uma nova luta, um novo lugar, uma nova esperança, um local motivador onde todos nós Acreditamos!<br />
			<br />
			<a href="http://www.projectwalk.org/client_spotlight/str_2008.htm" target="_blank">Veja o video do Step to Recovery.<!-- <img src="images/steps5.jpg" /> --></a>
			<br />
			<br />
			<a href="javascript:history.go(-1);" style="color:#A5CCD2 !important;">> Voltar</a>
			</p>            

            </div>
		</div>  