<div id="FooterContent">
    <div id="Menu">
        <br />
        <a href="home.php" target="">Home</a>  |  
        <a href="sobrenos.php" target="">Sobre Nós</a>  | 
        <a href="oprograma.php" target="">O Programa</a>  |  
        <a href="inscricoes.php" target="">Inscrições</a>  |  
        <a href="estrutura.php" target="">Estrutura</a>  |  
        <a href="clientes.php" target="">Clientes</a>  |  
        <a href="faq.php" target="">FAQ</a>  |  
        <a href="apoio.php" target="">Dez Coisas Importantes</a>  |  
        <a href="links.php" target="">Links</a>  |  
        <a href="contato.php" target="">Contato</a>
    </div>
    <div id="Dados">
        <a href="http://www.projectwalk.org/" target="_blank"><img src="/images/logo_walk.jpg" /></a><br />
        Projeto Acreditando<br />
        Project Walk Certified Provider <br />
        ® 2010 - All rights reserved.<br />
        
    </div>
    <div id="Sato">
        <a href="http://www.sato7.com.br" target="_blank"><img src="/images/logo_sato.png" /></a>
    </div>
</div>